{% extends 'BASE/base.html' %}
{% load static %}
{% block title %} Main Dashboard {% endblock %}
{% block content %}
<div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center d-flex" id="navigation">
                <form method="post" enctype="multipart/form-data" id="upload-form" class="p-1 border rounded">
                    <div class="input-group no-border">
                        {% csrf_token %}
                        <input type="file" name="file" id="uploadFile" accept=".csv" class="form-control"
                            placeholder="Upload CSV file here...">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-book-bookmark text-primary"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Total Orders</p>
                                    <p class="card-title" id="total_order">0
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-refresh"></i>
                            Update Now
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-money-coins text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Revenue</p>
                                    <p class="card-title" id="total_revenue">$ 1,345
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-calendar-o"></i>
                            Last day
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-cart-simple text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Most Sold Dish</p>
                                    <p class="card-title" id="most_sold">23
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-clock-o"></i>
                            In the last hour
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-bookmark-2 text-danger"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">Least Sold Dish</p>
                                    <p class="card-title" id="least_sold">+45K
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-refresh"></i>
                            Update now
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Daily Sale -->
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Weekday Sale</h5>
                        <p class="card-category">Total orders each day</p>
                    </div>
                    <div class="card-body ">
                        <canvas id="histogramWeekday" width="400" height="100"></canvas>
                    </div>
                    <!-- <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- Sale Growth -->
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Sale Growth</h5>
                        <p class="card-category">Sale of 7 last days + new update</p>
                    </div>
                    <div class="card-body ">
                        <canvas id="saleGrowthLine" width="400" height="100"></canvas>
                    </div>
                    <!-- <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Dish Distribution -->
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Dish Distribution</h5>
                        <p class="card-category">Dish distribution last 7 days</p>
                    </div>
                    <div class="card-body ">
                        <canvas id="dishDistributionDoughnut" width="400" height="100"></canvas>
                    </div>
                    <!-- <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Last prediction comparison</h5>
                        <p class="card-category">Last prediction vs actual</p>
                    </div>
                    <div class="card-body ">
                        <canvas id="predictionCompPlot" width="400" height="100"></canvas>
                    </div>
                    <!-- <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Prediction comparison -->
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Dish Distribution</h5>
                        <p class="card-category">Dish distribution last 7 days</p>
                    </div>
                    <div class="card-body ">
                        <canvas id="predictionCompPlot" width="400" height="100"></canvas>
                    </div>
                    <!-- <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Email Statistics</h5>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-body ">
                        <canvas id="chartEmail"></canvas>
                    </div>
                    <div class="card-footer ">
                        <div class="legend">
                            <i class="fa fa-circle text-primary"></i> Opened
                            <i class="fa fa-circle text-warning"></i> Read
                            <i class="fa fa-circle text-danger"></i> Deleted
                            <i class="fa fa-circle text-gray"></i> Unopened
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-calendar"></i> Number of emails sent
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-title">NASDAQ: AAPL</h5>
                        <p class="card-category">Line Chart with Points</p>
                    </div>
                    <div class="card-body">
                        <canvas id="speedChart" width="400" height="100"></canvas>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Tesla Model S
                            <i class="fa fa-circle text-warning"></i> BMW 5 Series
                        </div>
                        <hr />
                        <div class="card-stats">
                            <i class="fa fa-check"></i> Data information certified
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
        // debugger;
        // demo.createHistogram();
        // demo.createPlotline();
        // demo.createDoughnutChart();
        demo.createPlotlineComparison();
        document.getElementById('upload-form').addEventListener('submit', function (e) {
            // debugger;
            e.preventDefault();
            const formData = new FormData(this);
            fetch("{% url 'upload_csv' %}", {
                method: "POST",
                body: formData,
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                }
            })
                .then(response => response.json())
                .then(data => {
                    debugger;
                    document.getElementById('total_order').innerText = data.total_order;
                    document.getElementById('total_revenue').innerText = data.total_revenue;
                    document.getElementById('most_sold').innerText = data.most_sold;
                    document.getElementById('least_sold').innerText = data.least_sold;

                    const dailySale = data.daily_sale;
                    const dailySaleLabels = Object.keys(dailySale),
                        dailySaleData = Object.values(dailySale);
                    debugger;
                    const dishDistribution = data.dish_proportion;
                    const sortedEntries = Object.entries(dishDistribution)
                        .sort((a, b) => b[1] - a[1])
                        .slice(0, 10); // top 10

                    const dishDistributionLabels = sortedEntries.map(entry => entry[0]);
                    const dishDistributionData = sortedEntries.map(entry => entry[1]);

                    // const dishDistributionLabels = Object.keys(dishDistribution),
                    //     dishDistributionData = Object.values(dishDistribution);

                    demo.createHistogram(dailySaleLabels, dailySaleData);
                    demo.createPlotline(dailySaleLabels, dailySaleData);
                    demo.createDoughnutChart(dishDistributionLabels, dishDistributionData);
                })
                .catch(error => console.log("Error: ", error));
        });
    });
</script>
{% endblock %}